<article class="post">
    
<!--USER INFO -->                          
    
             <div class="user-info">
                 <img src= "<%= post.user.avatar_url %>" alt="<%= post.user.username %>">
                 <h2><%= post.user.username %></h2>
                 <h3><%= post.humanized_time_ago %></h3>
             </div>
<!--PHOTO -->             
             <a class="photo" href="/posts/<%= post.id %>">
                 <img src="<%= post.photo_url %>" alt="post from <%= post.user.username %>">
             </a>
<!--ACTIONS -->                          
             <div class="actions">
                 <%=erb(:"shared/likes", { locals: { post: post}}) %>
                 <span class="comments-count"> . <%=post.comment_count %> comments</span>
             </div>
             
<!--COMMENTING ON PHOTO PAGE, not HOME PAGE-->                          
             
        <% if current_user && allow_new_comment %>
             <!--Points to rendered using partial, comments form included into posts -->
             <%= erb(:"shared/new_comment", { locals: { post: post}}) %>
        <%end%>
        
             <ul class="comments">
                 <!--Ruby code for populating more comments -->
                 <% post.comments.each do |comment| %>
                 <li>
                     <p>
                         <%= comment.user.username %>: <%= comment.text %>
                     </p>
                 </li>
                 <% end %>
             </ul>
         </article>   
         
 <h4> To know more about Finstagram The Great's creator, visit her @ <a href="http://www.melodydanteandthemobverse.weebly.com" alt="MD Blog link">Melody Dante and the Mobverse</a>. </h4>
